/* PARTI PRINCIPALI */
*{
    padding: 0em;
    margin: 0em;
}
:root{
    --bgcolor: #0365AE;
    --txtcolor: #fff;
    --breadcolor: #163F77;
    --newscolor: #F3C42B;
    --newstxtcolor: #000;
    --contentxtcolor: #000;
    --contentbgcolor: #fff;
    --linkcolor: #fff;
    --visitedcolor: #f3c42b;
}
html,body{
    font-size: 100%; /* Lascio libertà all'utente*/
    font-family: "Verdana",sans-serif;
    line-height: 1.5em;
    margin:auto;
    background-color: var(--bgcolor);
    color:var(--txtcolor);
}
body{
    max-width: 1024px;
    border: 1px solid var(--contentxtcolor);
    background-color: var(--bgcolor);
}
html{
    background-image: url("images/bg.webp");
    background-size: contain; /* si adatta alla dimensione dello schermo*/
}
/*HEADER*/
header{
    color: var(--txtcolor);
    text-align: center;
    padding: 1em;
    padding-top: 0.7em;
    margin: 0.5em;
    border: 1px   var(--contentxtcolor);
    background: url("images/giannellipalleggio.jpg") right bottom no-repeat,
                url("images/michielettocoppa.jpg") left top no-repeat;
    background-size: 20%,20%;
}
header img{
    padding-right: 4em;
}
header >h1{
    background-image: url("images/logo_fipav.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    text-indent: -9999px;
    font-size: 6em;
    line-height: 1.5em;
}
#currentLink{
    background-image: url("images/favpng_volleyball-icon.png");
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 1.5em;/* margin non è coperto da sfondo*/
    background-size: 1.2em;

}
header >h2{
    font-size: 1.8em;
    padding: 0.5em;
    margin-top: 00.3em;
}
#breadcrumb{
    background-color:var(--breadcolor);
    color:var(--txtcolor);
    font-size: 1.1em;
    padding: 0.5em 0em 0.5em 1em;
    border: 1px var(--contentxtcolor);
}
#breadcrumb a:visited{
    color:var(--visitedcolor);
}
/*MENU*/
#menu{
    float:left;
    font-size: 1.3em;
    padding: 0.8em;
    width: 26%; /* la somma non deve fare 100 per gli effetti degli arrotondamenti */
}
#menu a:link{
    color:var(--linkcolor);
}
#menu a:visited{
    color:var(--visitedcolor);
}
#breadcrumb a:link{
    color:var(--linkcolor);
}
#menu ul{
    list-style-type: none;
}
/*ASIDE*/
aside{
    float:right;
    width: 20%; 
    padding: 0.5em;
    margin:0.4em;
    background-color: var(--bgcolor);
    overflow: hidden;
}
aside > h2{
    background-color:var(--newscolor) ;
    color:var(--contentxtcolor);
    padding: 0.2em;
}
aside dl dd {
	margin-left: 1.5em;
}
aside dt {
	margin-left: 0.8em;
	font-weight: bold;
}
/*MENU*/
main{
   color:var(--newstxtcolor);
   background-color: var(--contentbgcolor);
   margin-left: 28%;
   width: 66,5%;
   padding: 1.75em;
   border: 1px solid var(--contentxtcolor);  
}
main h1{
 padding: 0.7em;
 padding-top: 00.1em;
 text-align: center;
 line-height: 1.5em;
}
main h2{
    padding-top: 0.7em;
    padding-bottom: 0.7em;
}
#giocatori>dt{
    background-color: var(--breadcolor);
    color: var(--txtcolor);
    font-size: 1.1em;
    padding: 0.5em;
    border: 1px solid #000;
}
main>dl{
    width: 95%;
}
#giocatori >dt{
    margin-top: 1em;
}
#giocatori>dd{
    border: 1px solid #000;
    border-top: none; /*sennò ho un doppio bordo*/
    padding: 0.5em;
}
#giocatori>dd img{
    width:20%;
    float: left;
}
#premi dt{
    background-image: url("images/favpng_volleyball-icon.png");
    background-repeat: no-repeat;
    background-position: left ;
    padding-left: 1.3em;/* margin non è coperto da sfondo*/
    background-size: 1.2em;
}
#premi dd{
    margin-left: 1.3em;
}
#premi{
    margin-left: 2em;
}
#giocatori>dd dl{
    margin-left: 24%;
}
.giocatore dt{
   float:left;
   font-weight: bold;
   padding-right: 0.5em;
}
.giocatore dt::after{
    content: ": ";
}
dt.Riconoscimenti{
    float:none;
}
.list li{
    margin-left: 2em;
}
#de_giorgi{
    width:35%;
    float:left; 
    padding: 1em;
    border-radius: 0% 30% 30% 0%;
}
/*FOOTER*/
footer{
    background-color: var(--breadcolor);
    color:var(--txtcolor);
    text-align: center;
    padding: 1.0em;  
    border: 1px solid var(--contentxtcolor);   
}
footer p{
    display:inline;
    font-style: italic;
    font-size: 0.8em;
}
thead{
    color:#fff;
    background-color: black;
}
